<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="">
        <input type="text" name="txtNombre" placeholder="Escribe una fruta">
        <input type="text" name="txtCorreo" placeholder="Escribe la Temporada">
        <input type="text" name="txtContraseña" placeholder="Escribe el Precio">
        <button type="submit">Guardar</button>
    </form>
</body>
</html>